/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #1DB954; /* Spotify green */
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

h1 {
    margin-top: 20px;
    font-size: 2.5em;
}

form {
    background-color: #121212;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
}

input[type="text"], input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    font-size: 1em;
}

button {
    background-color: #1DB954;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

button:hover {
    background-color: #1aa34a;
}

input[type="text"]::placeholder {
    color: #bbb;
}

#searchInput {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    font-size: 1.2em;
    border: none;
}

table {
    margin: 20px auto;
    width: 90%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #282828;
}

td {
    background-color: #121212;
}

audio {
    width: 100%;
}

table, th, td {
    border: 1px solid #1DB954;
}

thead th {
    font-size: 1.2em;
}

tbody td {
    font-size: 1.1em;
}



